/* Tailwind CSS v4 - Standard directives @source, @theme, @plugin */
@import "tailwindcss";
@layer theme, base, components, utilities;

/* Be careful with the paths turbo mono repos install heroui in the root */
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../../../../node_modules/@heroui/*/dist/**/*.{js,ts,jsx,tsx}';
@plugin './heroui-plugin.ts';

@theme {
  --background-image-gradient-border-violet:
    linear-gradient(hsl(var(--heroui-background)),
      hsl(var(--heroui-background))),
    linear-gradient(83.87deg, #f54180, #9353d3);

  --animate-gradient-flow: gradient-flow 5s linear infinite;

  @keyframes gradient-flow {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: -200% 50%;
    }
  }

  --animate-pulse-red: pulse-red 2s ease-in-out infinite;

  @keyframes pulse-red {

    0%,
    100% {
      opacity: 1;
      color: inherit;
    }

    50% {
      opacity: 0.7;
      color: #f54180;
      /* Danger/Red color */
    }
  }
}

@layer base {
  :root {
    /* Handle iOS safe area (notches/pill) */
    --safe-area-top: env(safe-area-inset-top);
  }

  /* We don't apply padding-top to body directly as it breaks fixed elements like Navbar */
  body {
    padding-top: 0;
  }
}