# Copyright (c) 2024-2026 Ronan LE MEILLAT
# License: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#
name: CloudflareWorkerDeploy

on:
  push:
    branches:
      - V2
    paths:
      - apps/cloudflare-worker/**
      - yarn.lock
      - .github/workflows/deploy-cloudflare-worker.yaml

  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  packages: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Cache Yarn dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Cache Turborepo
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Install dependencies
        run: |
          npm install

      - name: Create .env file
        run: |
          echo "DOMAIN_NAME=${{ secrets.DOMAIN_NAME }}" > .env
          echo "AUTHENTICATION_PROVIDER_TYPE=${{ secrets.AUTHENTICATION_PROVIDER_TYPE }}" >> .env
          echo "AUTH0_DOMAIN=${{ secrets.AUTH0_DOMAIN }}" >> .env
          echo "AUTH0_CLIENT_ID=${{ secrets.AUTH0_CLIENT_ID }}" >> .env
          echo "AUTH0_MANAGEMENT_CLIENT_ID=${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_ID }}" >> .env
          echo "AUTH0_MANAGEMENT_CLIENT_SECRET=${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_SECRET }}" >> .env
          echo "AUTH0_SCOPE=\"${{ secrets.AUTH0_SCOPE }}\"" >> .env
          echo "AUTH0_AUDIENCE=${{ secrets.AUTH0_AUDIENCE }}" >> .env
          echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" >> .env
          echo "CORS_ORIGIN=${{ secrets.CORS_ORIGIN }}" >> .env
          echo "READ_PERMISSION=${{ secrets.READ_PERMISSION }}" >> .env
          echo "WRITE_PERMISSION=${{ secrets.WRITE_PERMISSION }}" >> .env
          echo "ADMIN_PERMISSION=${{ secrets.ADMIN_PERMISSION }}" >> .env
          echo "AUTH0_CLIENT_SECRET=${{ secrets.AUTH0_CLIENT_SECRET }}" >> .env
          echo "ADMIN_AUTH0_PERMISSION=${{ secrets.ADMIN_AUTH0_PERMISSION }}" >> .env
          echo "GOOGLE_API_KEY=${{ secrets.GOOGLE_API_KEY }}" >> .env
          echo "GEMINI_MODEL=${{ secrets.GEMINI_MODEL }}" >> .env
          echo "SIRET_API_URL=${{ secrets.SIRET_API_URL }}" >> .env
          echo "CLOUDFLARE_DATABASE_ID=${{ secrets.CLOUDFLARE_DATABASE_ID }}" >> .env

      - name: Replace "// vars.*" in wrangler.jsonc with a json string
        run: |
          cp .env apps/cloudflare-worker/.env
          cd apps/cloudflare-worker
          cp wrangler.jsonc wrangler.jsonc.bak
          set -a && source .env && set +a 
          cat .env
          cat wrangler.jsonc.bak | sed 's|// "vars".*.|,"vars": { "AUTHENTICATION_PROVIDER_TYPE": "'"${AUTHENTICATION_PROVIDER_TYPE}"'", "AUTH0_DOMAIN": "'"${AUTH0_DOMAIN}"'", "AUTH0_CLIENT_ID": "'"${AUTH0_CLIENT_ID}"'", "AUTH0_CLIENT_SECRET": "'"${AUTH0_CLIENT_SECRET}"'", "AUTH0_SCOPE": "'"${AUTH0_SCOPE}"'", "AUTH0_AUDIENCE": "'"${AUTH0_AUDIENCE}"'", "ADMIN_AUTH0_PERMISSION": "'"${ADMIN_AUTH0_PERMISSION}"'", "API_BASE_URL": "'"${API_BASE_URL}"'", "CORS_ORIGIN": "'"${CORS_ORIGIN}"'", "READ_PERMISSION": "'"${READ_PERMISSION}"'", "WRITE_PERMISSION": "'"${WRITE_PERMISSION}"'", "ADMIN_PERMISSION": "'"${ADMIN_PERMISSION}"'", "GOOGLE_API_KEY": "'"${GOOGLE_API_KEY}"'", "GEMINI_MODEL": "'"${GEMINI_MODEL}"'", "SIRET_API_URL": "'"${SIRET_API_URL}"'", "AUTH0_MANAGEMENT_CLIENT_ID": "'"${AUTH0_MANAGEMENT_CLIENT_ID}"'", "AUTH0_MANAGEMENT_CLIENT_SECRET": "'"${AUTH0_MANAGEMENT_CLIENT_SECRET}"'" }|' > wrangler.jsonc.2
          cat wrangler.jsonc.2 | sed 's|// "routes".*.|,"routes": [{ "pattern": "'"${DOMAIN_NAME}"'", "custom_domain": true }]|' > wrangler.jsonc.3
          cat wrangler.jsonc.3 | sed 's|"your-database-id"|"'"${CLOUDFLARE_DATABASE_ID}"'"|' > wrangler.jsonc
          cat wrangler.jsonc
      - name: Build reproductible
        run: |
          chmod +x ./build-reproductible-dev.sh
          ./build-reproductible-dev.sh

      - name: Deploy Frontend to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy apps/client/dist --project-name=kdufoot --branch=V2

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: apps/cloudflare-worker
          vars: |
            AUTHENTICATION_PROVIDER_TYPE
            AUTH0_DOMAIN
            AUTH0_CLIENT_ID
            AUTH0_SCOPE
            AUTH0_AUDIENCE
            API_BASE_URL
            CORS_ORIGIN
            READ_PERMISSION
            WRITE_PERMISSION
            ADMIN_PERMISSION
            AUTH0_CLIENT_SECRET
            ADMIN_AUTH0_PERMISSION
            GOOGLE_API_KEY
            GEMINI_MODEL
            SIRET_API_URL
            AUTH0_MANAGEMENT_CLIENT_ID
            AUTH0_MANAGEMENT_CLIENT_SECRET
        env:
          AUTHENTICATION_PROVIDER_TYPE: ${{ secrets.AUTHENTICATION_PROVIDER_TYPE }}
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_SCOPE: ${{ secrets.AUTH0_SCOPE }}
          AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
          AUTH0_MANAGEMENT_CLIENT_ID: ${{ secrets.AUTH0_MANAGEMENT_CLIENT_ID }}
          AUTH0_MANAGEMENT_CLIENT_SECRET: ${{ secrets.AUTH0_MANAGEMENT_CLIENT_SECRET }}
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
          READ_PERMISSION: ${{ secrets.READ_PERMISSION }}
          WRITE_PERMISSION: ${{ secrets.WRITE_PERMISSION }}
          ADMIN_PERMISSION: ${{ secrets.ADMIN_PERMISSION }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
          ADMIN_AUTH0_PERMISSION: ${{ secrets.ADMIN_AUTH0_PERMISSION }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          GEMINI_MODEL: ${{ secrets.GEMINI_MODEL }}
          SIRET_API_URL: ${{ secrets.SIRET_API_URL }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
